body {
    background: url("../images/background.jpg")
}
.game-section {
    width: 800px;   
    margin: auto;
    margin-top: 2.5%;
    background-color: rgb(109, 77, 161);
    border: 1px black solid;
    border-radius: 5px; 
}
.logo {
    position: relative;
    padding: 105px;
    margin-left: 12%;
    width: 75%;
    background: url("../images/logo-2.png");
}
#game-text {
    margin-left: 16.5%;
    color: white;
    margin-top: 2%;
}
#game-text2 {
    margin-left: 30%;
    color: white;
}
.start-game {
    margin-left: 34.5%;
    margin-top: 5%;
    width: 30%;
    height: 10%;
    font-size: 25px;
    margin-bottom: 20%;
}
.hidden {
    display: none;
}
.timer {
    font-size: 35px;
    color: white;
    padding: 10px;
    text-align: center;
}
h2 {
    color: white;
    padding: 10px;
    text-align: center;
    text-shadow: 5px, 5px, 5px, black;
}
#questions {
    color: white;
    margin-top: 15px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
}
#results {
    color: white;
    margin-top: 15px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
}
.done {
    margin-top: 10%;
    width: 30%;
    height: 60px;
    font-size: 25px;
    margin-bottom: 10%;
}